h1 {
    color: white;
    text-align: center;
    background-color: blueviolet;
}
p {
    color: black;
    margin-left: auto;
    background-color:transparent;

}
p#pink_line  {
    color:black;
    text-align: center;
    background-color:pink;
}


.stages {
    font-size:90px;
}
#lname{
    size:100px
}